.contenedor {
  max-width: 50%;
  margin: 0 auto;
  border: solid 2px;
color: rgb(8, 8, 8);
padding: 100px;
}
.borde{

  border-bottom: solid 3px;
  color: blue;
  padding-top: 15px;
}
.imagenex{
  display:flex; 
  gap: 20px;

}
.imagentrabajo{
gap: 250px;
}